<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learn Angular JS</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app>
    <div>Abhijith Chowdary</div>
    <div>5 + 5 = {{ 5 + 5}}</div>
    <div>
        <label>Val1:</label>
        <input type="number" ng-model="val1">
        <label>Val2:</label>
        <input type="number" ng-model="val2">
        <div>Val1 value: {{val1}}</div>
        <div>Val2 value: {{val2}}</div>
        <div>Product of val1 and val2 is: {{val1 * val2}}</div>
    </div>
</body>
</html>